doctype html 
html 
    head 
        title Yuvraj Dance Acadmey 
        block scripts 
        block style
            sttyle 
                include ../static/style.css
    body
        nav#navbar 
                        ul
                            li #[a(href="/") HOME]
                            li #[a(href="/") ABOUT]
                            li #[a(href="/") SERVICES]
                            li #[a(href="/") CLASS INFO]
                            li #[a(href="/contact") CONTACT]
        block content 