extends base.pug

block scripts 
    scripts(src='/static/script.js')

block style 
    style
        include  ../static/style.css

block content 
    div#body
            div#intro 
                div#content1
                    p  #[a WELCOME TO YUVRAJ'S DANCE WEBSITE]
                    p YOU WILL BE GREAT DANCER ONE DAY
            div#mission
                p COURSES WE PROVIDE 
                    div#card
                        div#card1 
                            div.head
                                h5  BEGINEER  
                            div.con
                                img(src="https://th.bing.com/th/id/R.f71782e75f1a9f35a5f88183c7194fb2?rik=pxNmuKkd0QDAug&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2f4i9%2fa8o%2f4i9a8op6T.jpeg&ehk=kDWFgrtVakRqp1g%2b9WTntgJ8XXW6BdDMX%2f7BhQbAhcg%3d&risl=&pid=ImgRaw&r=0", alt="err")
                                div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quidem eveniet! Earum commodi architecto voluptate.
                        div#card2
                            div.head
                                h5  ELITE   
                            div.con
                                img(src="https://th.bing.com/th/id/OIP.o0S2hSCd0xskfyyQZyPvBAHaJK?pid=ImgDet&w=236&h=292&rs=1", alt="err")
                                div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, iste earum vero saepe molestiae corporis.
                        div#card3
                            div.head
                                h5  LEGENDARY   
                            div.con
                                img(src="https://i.pinimg.com/564x/d7/3f/f5/d73ff5fc515675317e00f622de903634.jpg", alt="err")
                                div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quidem eveniet! Earum commodi architecto voluptate. 
            div#sponsors
                div
                    h2  OUR SPONSORS 
                div.img
                    img(src="https://www.bestdesigns.co/uploads/inspiration_images/4376/990__1511456036_880_microsoft.png",alt="error", class="img1")
                    img(src="https://qph.fs.quoracdn.net/main-qimg-78db1e6445d5893a1e97fa02fef7d2cd" , alt="error",class="img2")
                    img(src="https://th.bing.com/th/id/R.ecd14a96d6a90040b29014843b6d3b7c?rik=kLHxltjoHEXN4Q&riu=http%3a%2f%2fvignette3.wikia.nocookie.net%2flogopedia%2fimages%2f7%2f77%2fLockheed-martin-logo.png%2frevision%2flatest%3fcb%3d20150817201259&ehk=P4G2kaoCH51T2BfL%2fVkv5wr%2fws5MB67XdIfeqdyDOYg%3d&risl=&pid=ImgRaw&r=0", alt="error" , class="img3")
                    img(src="https://logodownload.org/wp-content/uploads/2019/10/reliance-industries-logo-1.png", alt="error" , class="img4")
            div#foot
                p Copyright @ YUVRAjTak Dance Website.com All Right Reserved   