extends base.pug

block style 
    style 
        include ../static/style.css
        include ../static/contactstyle.css

block content
    div#contactbody 
        div.heads
            h2 YOUR FORM HAS BEEN SUBMITTED SUCCESSFULLY 
        div#foot
            p Copyright @ YUVRAjTak Dance Website.com All Right Reserved 